<center>
  <table class="table table-hover width80 center">
    <h3>Log of Every Boss Run</h3>
    <tr class="table_header">
      <td>Run ID</td>
      <td>Boss Killed</td>
      <td>Party Size</td>
      <td>Item Dropped</td>
      <td>Item Winner</td>
      <td>Date</td>
      <td>Kill Time (GMT -8)</td>
    </tr>
    <% @runs.reverse.each do |run| %>
      <tr>
        <td class="bg-primary"><b><%= run.id.to_s %></b></td>
        <td class="bg-info"><%= run.boss.name %></td>
        <% if @parties.where(run_id: run.id).length <= 2 %>
          <td class="bg-danger"><%= @parties.where(run_id: run.id).length %></td>
        <% elsif @parties.where(run_id: run.id).length <= 5 %>
          <td class="bg-warning"><%= @parties.where(run_id: run.id).length %></td>
        <% else %>
          <td class="bg-success"><%= @parties.where(run_id: run.id).length %></td>
        <% end %>
        <% if run.item.name != "" %>
          <td class="bg-success"><%= run.item.name.capitalize %></td>
        <% else %>
          <td class="bg-danger">Nothing</td>
        <% end %>
        <% if run.winner %>
          <td class="bg-success"><%= run.winner.username.capitalize  %></td>
        <% else %>
        <% if run.item.name == "" %>
          <td class="bg-danger">No Item</td>
        <% else %>
          <td>Unclaimed</td>
        <% end %>
        <% end %>
        <td class="bg-info"><%= run.date.to_s %></td>
        <td class="bg-info"><%= run.time.to_s %></td>
      </tr>
    <% end %>
  </table>
  </form>
