<div class="profile">
  <div class="float_left padding20">
    <h3><%= @member.username.capitalize %>'s Profile</h3>
    <h5>Current Points: <%= @member.current_points %></h5>
  </div>
  <div class="float_right padding">
    <h4>Change your password:</h4 >
    <%= erb :"/partials/profile/_password_change" %>
  </div>
</div>
<h4 class="clear_both padding20">Runs you were a part of: <%= @run_ids.length %></h4>
<%= erb :"/partials/profile/_profile_logs" %>
