<br>
<center>
  <table class="table table-hover width80 center">
    <h3>Available Items</h3>
    <tr>
      <td>Run ID</td>
      <td>Boss Killed</td>
      <td>Item Dropped</td>
      <td>Item Winner</td>
      <td>Date</td>
      <td>Time (GMT -8)</td>
    </tr>
    <% @runs.reverse.each do |run| %>
    <% if run.winner.nil? && run.item.name != "" %>
      <tr class="success">
        <td><%= run.id.to_s %></td>
        <td><%= run.boss.name %></td>
        <td><%= run.item.name.capitalize %></td>
        <td>Unclaimed</td>
        <td><%= run.date.to_s %></td>
        <td><%= run.time.to_s %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
    <% if council? %>
    <h3>Reward an item to a Player</h3>
    <form action="/reward_item" method="POST">
    <p>User:
    <select class="form-control width10" name="member">
      <% @members.each do |member| %>
        <option value=<%= member.username %>><%= member.username.capitalize %></option>
      <% end %>
    </select></p>
    <p><input class="form-control width20" type="text" name="run_id" placeholder="Enter Run ID"></p>
    <p><input class="form-control width20" type="text" name="points" placeholder="Enter Point Cost"></p>
    <input class="btn btn-success" type="submit" value="Reward Player">
  </p>
</form>
  <% end %>
</center>
